body * {
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.dropdown-container {
  width: 300px;
  position: relative;
}

.inBox {
  padding: 10px 10px;
  border: 1px solid #eee;
  height: 38px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  cursor: pointer;
  outline: none !important;
  border-radius: 3px;
  position: relative;
}

.inBox:after {
  content: "";
  border: 5px solid rgb(104, 104, 104);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  right: 10px;
  margin: 1px 0 auto;
}

.inBox.active:after {
  transform: rotatex(180deg) translate(0px, 5px);
}

.dropdown {
  list-style: none;
  border: 1px solid #eee;
  padding: 5px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: 99999;
  background: #fff;
  top: 43px;
  transition: all linear 0.3s;
  max-height: 250px;
  overflow-y: auto;
  display: none;
}

.dropdown.active {
  display: block;
  top: 38px;
}

.dropdown li {
  padding: 6px 15px;
  text-transform: capitalize;
  transition: all linear 0.1s;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dropdown li:hover {
  background: rgb(81, 81, 182);
  color: #fff;
}

li.dropdown-search {
  padding: 6px 10px;
  position: sticky;
  top: -5px;
  background: #fff;
  z-index: 9999;
}

li.dropdown-search:hover,
li.norecord:hover {
  background: #fff;
  color: #333;
}

.dropdown-search input {
  width: 100%;
  border: 1px solid #eee;
  height: 35px;
  padding: 5px 10px;
  outline: none !important;
}
